<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <property name="LOG_PATH" value="${log.path}/SpringBoard"/>
  <property name="LOG_FILE_NAME" value="logging"/>
  <property name="ERR_LOG_FILE_NAME" value="err_logging"/>
  <property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n"/>
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

  <appender name="CONSOLE"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %boldMagenta(%d{MM-dd HH:mm:ss}) [%highlight(%-5level)] %boldCyan(%-34.34logger{32}) - %msg %n
      </pattern>
    </encoder>
  </appender>
  <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.path}/error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${log.path}/backup/error%d{yyyy-MM-dd}.log.zip</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%boldMagenta(%d{MM-dd HH:mm:ss}) [%boldYellow(%-5level)] %cyan(%logger{5}.%M) - %msg %n</pattern>
      <ImmediateFlush>true</ImmediateFlush>
    </encoder>
  </appender>

  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="org.springframework.boot" level="ERROR"/>
  <logger name="org.springframework" level="ERROR"/>
  <logger name="org.springframework.web" level="ERROR"/>
  <logger name="jdbc" level="OFF"/>
  <logger name="jdbc.sqlonly" level="OFF"/>
  <logger name="jdbc.sqltiming" level="OFF"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="jdbc.resultsettable" level="OFF"/>
  <logger name="jdbc.connection" level="OFF"/>
  <logger name="com.project.spboard" level="INFO"/>
  <root level="ERROR">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="error"/>
  </root>
</configuration>
